<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
  integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
  integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div class="container blog-section5_wrapper">
  <div class="row my-5">
    <div class="col-12 col-xl-9 mb-4 pe-xl-4">
      <div class="my-5 blog-section-main-title">Featured Video</div>
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card featured-videos_card">
              <a data-fancybox href="https://www.youtube.com/watch?v={{block.settings.video_code}}">
                <img
                  class="card-img-top img-fluid"
                  src="http://img.youtube.com/vi/{{block.settings.video_code}}/mqdefault.jpg"
                >
              </a>

              <div class="card-body">
                <div class="mb-2 blog-section5_article-title">{{ block.settings.video_title }}</div>
                <div class="blog-section5_date-text">{{ block.settings.video_date }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-xl-3">
      <div class="blog-section-main-title popular-terms"><span>Popular Terms</span></div>
      <div class="mt-5">
        <div class="tag-cloud">
          {% assign blog_handles = 'asthma-2,a-return-to-nature,pharma-blogs,respiratory-conditions,sinusitis-2,wellness'
            | split: ','
          %}

          <ul>
            {% for handle in blog_handles %}
              {% assign blog = blogs[handle] %}
              {% if blog %}
                <li class="list-unstyled">
                  <a href="{{ blog.url }}">{{ blog.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
      .blog-section-main-title{
          color: #000;
          font-family: Poppins;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
      }
      .blog-section5_article-title{
          color: #000;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
      }
      .blog-section5_date-text{
          color: rgba(76, 76, 76, 0.44);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
      }
      .blog-section5_video-wrapper{
          max-height: 204px;
          width: 100%;
          background: rgba(0, 0, 0, 0.20);
      }
      .blog-section5_wrapper{
          border-top: 1px solid #F3F3F3;
      }
      .tag-cloud ul{
          display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 10px;

      padding-left: 0;
      }
      .tag-cloud li{
          border: 1px solid #F3F3F3;
      padding: 5px;
      }
      .tag-cloud li a{
          color: #000;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 186.667% */
          text-decoration: none;
      }
     .tag-cloud li a:hover{
          color: #00a79d;
      }

   .popular-terms{
      position: relative;

   }
   .popular-terms {
      overflow: hidden;
  }

  .popular-terms:after {
      content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #54B5A9;
  }
  .featured-videos_card{
      height: 100%;
  }
</style>

{% schema %}
{
    "name": "Blog Section 5",
    "class": "blog-section5",
    "settings": [

        ],
        "blocks": [
            {
                "name": "video",
                "limit": 3,
                "type": "video",
                "settings": [{
                    "type": "text",
                    "id": "video_code",
                    "default": "nbS_vRyKH7Y",
                    "label": "Video Code"
                },
            {
                "type": "text",
                    "id": "video_title",
                    "default": "Title",
                    "label": "Video Title"
            },
            {
                "type": "text",
                    "id": "video_date",
                    "default": "Aug 23, 2021",
                    "label": "Date"
            }]
            }
        ],
        "presets": [{
            "name": "Blog Section 5"
        }]
}
{% endschema %}
