<style>
  .grid-conatiner {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    padding: 10px 105px;
  }
  .map {
    margin-top: 15rem
  }
  .icon {
    margin-right: 13px;

  }
  @media only screen and (max-width: 800px) {
    .grid-conatiner {
      grid-template-columns: auto;
      gap: 50px;
      padding: 10px 15px;
    }
    .map {
      margin-top: 7rem
    }
  }
</style>


{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<style>
  .contact-heading {
    color: #254E4E;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
  }
</style>

<div class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding gradient py-5">

  <div class="text-center">
    <h2 class="mb-4 contact-heading">{{ section.settings.heading }}</h2>
  </div>
  <div class="grid-conatiner page-width">

    <div class="msgcontainer justify-content-center" style="margin:auto; ">
      <div>
        <div>
          <div>
            <p>
              <strong>Name:</strong>
              Bibo Health</p>
            <p>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M19 15.697C19 16.021 18.9279 16.354 18.7747 16.678C18.6214 17.002 18.4231 17.308 18.1617 17.596C17.7201 18.082 17.2334 18.433 16.6835 18.658C16.1427 18.883 15.5568 19 14.9259 19C14.0065 19 13.024 18.784 11.9875 18.343C10.9509 17.902 9.9144 17.308 8.8868 16.561C7.85028 15.805 6.8678 14.968 5.9304 14.041C5.002 13.105 4.16375 12.124 3.41562 11.098C2.67651 10.072 2.08162 9.046 1.64897 8.029C1.21632 7.003 1 6.022 1 5.086C1 4.474 1.10816 3.889 1.32449 3.349C1.54081 2.8 1.88333 2.296 2.36104 1.846C2.93791 1.279 3.56885 1 4.23585 1C4.48823 1 4.74061 1.054 4.96595 1.162C5.2003 1.27 5.40761 1.432 5.56986 1.666L7.66099 4.609C7.82324 4.834 7.94041 5.041 8.0215 5.239C8.1027 5.428 8.1477 5.617 8.1477 5.788C8.1477 6.004 8.0846 6.22 7.95844 6.427C7.84126 6.634 7.67001 6.85 7.45368 7.066L6.76865 7.777C6.6695 7.876 6.62444 7.993 6.62444 8.137C6.62444 8.209 6.63345 8.272 6.65148 8.344C6.67852 8.416 6.70556 8.47 6.72359 8.524C6.88583 8.821 7.16525 9.208 7.56184 9.676C7.96745 10.144 8.4001 10.621 8.8688 11.098C9.3555 11.575 9.8242 12.016 10.302 12.421C10.7707 12.817 11.1582 13.087 11.4647 13.249C11.5098 13.267 11.5638 13.294 11.6269 13.321C11.699 13.348 11.7712 13.357 11.8523 13.357C12.0055 13.357 12.1227 13.303 12.2218 13.204L12.9069 12.529C13.1322 12.304 13.3485 12.133 13.5558 12.025C13.7631 11.899 13.9705 11.836 14.1958 11.836C14.3671 11.836 14.5473 11.872 14.7456 11.953C14.9439 12.034 15.1512 12.151 15.3766 12.304L18.36 14.419C18.5944 14.581 18.7566 14.77 18.8558 14.995C18.9459 15.22 19 15.445 19 15.697Z" stroke="#1B1B1B" stroke-width="1.5" stroke-miterlimit="10"/>
                </svg>
              </span>
              <strong>+91 8297104012</strong>
            </p>
            <p>(Monday to Friday - 10 Am to 7PM)</p>
            <p>
              <span>
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#080341"/>
                </svg>
              </span>
              <strong>Breathe.free@bibo.health</strong>
            </p>
            <p>
              <strong>CIN:</strong>
              U24230KA2019PTC125004</p>

          </div>
          <div class="container-address" style="display:flex ;">
            <div>
              <span>
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 9H14M18 12H14M12 15.5C11.7164 14.3589 10.481 13.5 9 13.5C7.519 13.5 6.28364 14.3589 6 15.5M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19ZM10 9.5C10 10.0523 9.55228 10.5 9 10.5C8.44772 10.5 8 10.0523 8 9.5C8 8.94772 8.44772 8.5 9 8.5C9.55228 8.5 10 8.94772 10 9.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </span>
            </div>
            <div>
              <strong>Hilt Brands India Private Limited</strong><br/>#1489, 5th Cross Road, 29th Main Road<br/>BTM
              Layout 2nd
                                                                                                                                                            Stage<br/>Bengaluru, Karnataka, 560076, India
            </div>
          </div>
          <br>
          <!--         <p><strong>Or contact us using the form</strong></p>
          -->
        </div>

      </div>
    </div>




 






    <div class="formconatiner">
      <div class="contact">
        <form
        action="https://formsubmit.co/bibocontactform@gmail.com"
        method="POST">
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="name" placeholder="Name">
            <label class="field__label" for="ContactForm-name">Name</label>
          </div>
          <div class="field field--with-error">
            <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="email" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="Email">
            <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label></div>
        </div>
        <div class="field mb-4">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="phone" pattern="[0-9\-]*" value="" placeholder="Phone number">
          <label class="field__label" for="ContactForm-phone">Phone number</label>
        </div>
        <div class="field">
          <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="comment" placeholder="Message"></textarea>
          <label class="form__label field__label" for="ContactForm-body">Message</label>
        </div>
        <input
        type="hidden"
        name="_cc"
        value="pooja@bibo.health,vikash@bibo.health">
      <!-- <input
        type="hidden"
        name="_captcha"
        value="false"> -->
      <input
        type="hidden"
        name="_subject"
        value="New Contact form submission!">
      <input
        type="hidden"
        name="_next"
        value="https://bibo.health">
        <div class="contact__button">
          <button type="submit" class="button">
            Send
          </button>
        </div></form>

      </div>

    </div>



  </div>

  <!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7777.983982201241!2d77.61132188081494!3d12.908236088106245!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe013344caa3275f6!2sHilt%20Brands%20India%20Private%20Limited!5e0!3m2!1sen!2sin!4v1656963959269!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
  --></div>

{% schema %}
  {
    "name": "Custom Contact Form",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Contact form",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Custom Contact Form"      }
    ]
  }
{% endschema %}