<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />


<script defer src="{{'nasal-spray-facts.js' | asset_url}}"></script>



<div class="container pt-5">
  <div class="row">
    <div class="col-12 col-lg-4 mb-5">
      <div class="nasal-spray-facts_title mt-5 mb-4">{{ section.settings.title }}</div>
      <div class="nasal-spray-facts_text">{{ section.settings.text }}</div>
    </div>


    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="owl-carousel" id="nasal-spray-facts-slider">



          {% for block in section.blocks %}
            <div class="nasal-spray-facts_item mb-4 p-4">
              <div class="d-flex align-items-center gap-4 mb-5">
                <div class="nasal-spray-facts_item-img_wrapper">
                  <img
                    class="img-fluid"
                    src="{{block.settings.img | img_url: 'master'}}"
                    alt="{{block.settings.title}}">
                </div>
                <div class="nasal-spray-facts_item-title">{{ block.settings.title }}</div>
              </div>
              <div class="nasal-spray-facts_item-text">{{ block.settings.text }}</div>
            </div>

          {% endfor %}


        </div>
      </div>
    </div>
  </div>



</div>


<style>
  .nasal-spray-facts_item-img_wrapper {
    height: 60px;
    width: 60px;
  }


  .nasal-spray-facts .owl-nav {
    display: flex;
    justify-content: center;
  }
  .nasal-spray-facts_item-img_wrapper img {
    max-height: 60px;
    max-width: 60px;
  }
  .nasal-spray-facts {
    background: #EEEFF1;
  }
  .nasal-spray-facts_item {
    border-radius: 12px;
    background: #FFF;
    flex-shrink: 0;
    min-height: 200px;
  }
 .nasal-spray-facts_title {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

 @media(min-width:768px){
    .nasal-spray-facts_title {
    color: #000;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
 }



  .nasal-spray-facts_text {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .nasal-spray-facts_item-title {
    color: #000;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .nasal-spray-facts_item-text {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>

{% schema %}
  {
    "name": "Nasal Spray Facts",
    "class": "section nasal-spray-facts",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Nasal Spray Facts"
      }, {
        "type": "text",
        "id": "text",
        "label": "text",
        "default": "Why use nasal spray?"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Quick Pain Relief:"
          }, {
            "type": "text",
            "id": "text",
            "label": "text",
            "default": "Nasal sprays provide rapid relief from congestion and discomfort."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nasal Spray Facts"
      }
    ]
  }
{% endschema %}